{{define "root"}}{{.AppName}}


RESET YOUR PASSWORD

Hello {{.Data.UserFullName}},
We received a request to reset your password for {{.AppName}}. Open the link below to choose a new password. This link will expire in {{.Data.ExpirationString}}.

If you didn't request this, you can safely ignore this email.


Reset password {{.Data.ResetLink}}{{end}}
