{{define "root"}}{{.AppName}}


YOU'VE BEEN INVITED TO {{.AppName}}

Hello {{.Data.UserFullName}},
An account has been created for you on {{.AppName}}. Open the link below to set your password and get started.


Set password {{.Data.InviteLink}}{{end}}
